<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated couplinggraph -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.kastel.sdq.coupling.models.couplinggraph.presentation.CouplinggraphModelWizardID"
            name="%_UI_CouplinggraphModelWizard_label"
            class="edu.kit.kastel.sdq.coupling.models.couplinggraph.presentation.CouplinggraphModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CouplinggraphModelFile.gif">
         <description>%_UI_CouplinggraphModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated couplinggraph -->
      <editor
            id="edu.kit.kastel.sdq.coupling.models.couplinggraph.presentation.CouplinggraphEditorID"
            name="%_UI_CouplinggraphEditor_label"
            icon="icons/full/obj16/CouplinggraphModelFile.gif"
            extensions="couplinggraph"
            class="edu.kit.kastel.sdq.coupling.models.couplinggraph.presentation.CouplinggraphEditor"
            contributorClass="edu.kit.kastel.sdq.coupling.models.couplinggraph.presentation.CouplinggraphActionBarContributor">
      </editor>
   </extension>

</plugin>
